In [1]:
import pandas as pd

In [3]:
ratings = pd.read_csv('../data/ml-latest-small/ratings.csv')
ratings.sample()

        userId  movieId  rating   timestamp
100043     610     8368     4.5  1493844901

### timestamp column 처리

In [4]:
from datetime import datetime

In [5]:
datetime.fromtimestamp(1654566465)

datetime.datetime(2022, 6, 7, 1, 47, 45)

In [6]:
ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
5        2000-07-30 18:40:00
6        2000-07-30 18:14:28
7        2000-07-30 18:36:16
8        2000-07-30 19:07:21
9        2000-07-30 19:08:20
10       2000-07-30 19:00:50
11       2000-07-30 18:20:08
12       2000-07-30 18:16:25
13       2000-07-30 18:19:39
14       2000-07-30 18:15:08
15       2000-07-30 18:28:00
16       2000-07-30 18:49:27
17       2000-07-30 18:38:30
18       2000-07-30 18:19:39
19       2000-07-30 18:42:43
20       2000-07-30 18:16:02
21       2000-07-30 18:43:08
22       2000-07-30 18:28:30
23       2000-07-30 18:39:23
24       2000-07-30 18:14:28
25       2000-07-30 18:31:49
26       2000-07-30 18:39:06
27       2000-07-30 18:20:08
28       2000-07-30 19:06:42
29       2000-07-30 18:19:39
                 ...
100806   2016-11-19 08:13:30
100807   2017-05-03 21:10:17
100808   2017-05-03 21:21:43
100809   2017-05-03 22:00:41
100810   2017-05-03 21:54:16
100811   2016-11-19 08:07:11
100812   2017-05-03 21:54:04
100813   2017-05-03 21:22:43
100814   2016-11-19 08:46:59
100815   2016-11-19 08:01:31
100816   2017-05-03 21:47:04
100817   2017-05-03 22:02:27
100818   2017-05-03 21:41:44
100819   2017-05-03 21:47:11
100820   2016-11-19 08:55:49
100821   2016-11-19 08:43:18
100822   2017-05-03 21:55:37
100823   2017-05-03 20:53:14
100824   2017-05-03 21:42:39
100825   2017-05-03 21:52:42
100826   2017-05-03 22:19:31
100827   2017-05-03 21:59:49
100828   2017-05-03 22:22:35
100829   2017-05-03 21:07:11
100830   2017-05-04 06:29:25
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: timestamp, Length: 100836, dtype: datetime64[ns]

In [7]:
ratings['timestamp'] = ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [8]:
ratings

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
5            1       70     3.0 2000-07-30 18:40:00
6            1      101     5.0 2000-07-30 18:14:28
7            1      110     4.0 2000-07-30 18:36:16
8            1      151     5.0 2000-07-30 19:07:21
9            1      157     5.0 2000-07-30 19:08:20
10           1      163     5.0 2000-07-30 19:00:50
11           1      216     5.0 2000-07-30 18:20:08
12           1      223     3.0 2000-07-30 18:16:25
13           1      231     5.0 2000-07-30 18:19:39
14           1      235     4.0 2000-07-30 18:15:08
15           1      260     5.0 2000-07-30 18:28:00
16           1      296     3.0 2000-07-30 18:49:27
17           1      316     3.0 2000-07-30 18:38:30
18           1      333     5.0 2000-07-30 18:19:39
19           1      349     4.0 2000-07-30 18:42:43
20           1      356     4.0 2000-07-30 18:16:02
21           1      362     5.0 2000-07-30 18:43:08
22           1      367     4.0 2000-07-30 18:28:30
23           1      423     3.0 2000-07-30 18:39:23
24           1      441     4.0 2000-07-30 18:14:28
25           1      457     5.0 2000-07-30 18:31:49
26           1      480     4.0 2000-07-30 18:39:06
27           1      500     3.0 2000-07-30 18:20:08
28           1      527     5.0 2000-07-30 19:06:42
29           1      543     4.0 2000-07-30 18:19:39
...        ...      ...     ...                 ...
100806     610   150401     3.0 2016-11-19 08:13:30
100807     610   152077     4.0 2017-05-03 21:10:17
100808     610   152081     4.0 2017-05-03 21:21:43
100809     610   152372     3.5 2017-05-03 22:00:41
100810     610   155064     3.5 2017-05-03 21:54:16
100811     610   156371     5.0 2016-11-19 08:07:11
100812     610   156726     4.5 2017-05-03 21:54:04
100813     610   157296     4.0 2017-05-03 21:22:43
100814     610   158238     5.0 2016-11-19 08:46:59
100815     610   158721     3.5 2016-11-19 08:01:31
100816     610   158872     3.5 2017-05-03 21:47:04
100817     610   158956     3.0 2017-05-03 22:02:27
100818     610   159093     3.0 2017-05-03 21:41:44
100819     610   160080     3.0 2017-05-03 21:47:11
100820     610   160341     2.5 2016-11-19 08:55:49
100821     610   160527     4.5 2016-11-19 08:43:18
100822     610   160571     3.0 2017-05-03 21:55:37
100823     610   160836     3.0 2017-05-03 20:53:14
100824     610   161582     4.0 2017-05-03 21:42:39
100825     610   161634     4.0 2017-05-03 21:52:42
100826     610   162350     3.5 2017-05-03 22:19:31
100827     610   163937     3.5 2017-05-03 21:59:49
100828     610   163981     3.5 2017-05-03 22:22:35
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

## paste my data

In [10]:
my_ratings = pd.read_csv('../data/ml-latest-small/my-ratings.csv')
my_ratings

    userId  movieId  rating            timestamp
0     1000   168250     5.0  2020-06-13 22:09:34
1     1000   106696     2.0  2020-06-14 22:09:34
2     1000   122922     2.0  2020-06-15 22:09:34
3     1000   164909     5.0  2020-06-16 22:09:34
4     1000   104374     5.0  2020-06-17 22:09:34
5     1000   156387     5.0  2020-06-18 22:09:34
6     1000    27773     4.5  2020-06-19 22:09:34
7     1000   180985     4.0  2020-06-20 22:09:34
8     1000    79132     5.0  2020-06-21 22:09:34
9     1000   109487     4.5  2020-06-22 22:09:34
10    1000   140110     4.0  2020-06-23 22:09:34
11    1000    59784     3.0  2020-06-24 22:09:34

In [13]:
ratings_concat = pd.concat([ratings, my_ratings])

In [16]:
ratings_concat.tail(20)

        userId  movieId  rating            timestamp
100828     610   163981     3.5  2017-05-03 22:22:35
100829     610   164179     5.0  2017-05-03 21:07:11
100830     610   166528     4.0  2017-05-04 06:29:25
100831     610   166534     4.0  2017-05-03 21:53:22
100832     610   168248     5.0  2017-05-03 22:21:31
100833     610   168250     5.0  2017-05-08 19:50:47
100834     610   168252     5.0  2017-05-03 21:19:12
100835     610   170875     3.0  2017-05-03 21:20:15
0         1000   168250     5.0  2020-06-13 22:09:34
1         1000   106696     2.0  2020-06-14 22:09:34
2         1000   122922     2.0  2020-06-15 22:09:34
3         1000   164909     5.0  2020-06-16 22:09:34
4         1000   104374     5.0  2020-06-17 22:09:34
5         1000   156387     5.0  2020-06-18 22:09:34
6         1000    27773     4.5  2020-06-19 22:09:34
7         1000   180985     4.0  2020-06-20 22:09:34
8         1000    79132     5.0  2020-06-21 22:09:34
9         1000   109487     4.5  2020-06-22 22:09:34
10        1000   140110     4.0  2020-06-23 22:09:34
11        1000    59784     3.0  2020-06-24 22:09:34

In [17]:
ratings_concat.to_pickle('../data/ml-latest-small/ratings_concat.p')