In [1]:
import config
from preprocess import get_modified_data
from DeepFM import DeepFM

import numpy as np
import pandas as pd
from time import perf_counter
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.metrics import BinaryAccuracy, AUC

In [2]:
def get_data():
    file = pd.read_csv('../../data/adult.data', header=None)
    X = file.loc[:, 0:13]
    Y = file.loc[:, 14].map({' <=50K': 0, ' >50K': 1})
    
    X.columns = config.ALL_FIELDS
    field_dict, field_index, X_modified = get_modified_data(X,
                                                           config.ALL_FIELDS,
                                                           config.CONT_FIELDS,
                                                           config.CAT_FIELDS,
                                                           False)
    
    X_train, X_test, Y_train, Y_test = train_test_split(X_modified, Y, test_size=0.2)
    
    train_ds = tf.data.Dataset.from_tensor_slices(
        (tf.cast(X_train.values, tf.float32),
         tf.cast(Y_train, tf.float32))).shuffle(30000).batch(config.BATCH_SIZE)
    
    test_ds = tf.data.Dataset.from_tensor_slices(
        (tf.cast(X_test.values, tf.float32), 
         tf.cast(Y_test, tf.float32))).shuffle(10000).batch(config.BATCH_SIZE)
    
    return train_ds, test_ds, field_dict, field_index

In [3]:
def train_on_batch(model, optimizer, acc, auc, inputs, targets):
    with tf.GradientTape() as tape:
        y_pred = model(inputs)
        loss = tf.keras.losses.binary_crossentropy(from_logits=False, y_true=targets, y_pred=y_pred)
        
        grads = tape.gradient(target=loss, sources=model.trainable_variables)
        
        optimizer.apply_gradients(zip(grads, model.trainable_variables))
        
        acc.update_state(targets, y_pred)
        auc.update_state(targets, y_pred)
        
        return loss

In [4]:
def train(epochs):
    train_ds, test_ds, field_dict, field_index = get_data()
    
    model = DeepFM(embedding_size=config.EMBEDDING_SIZE, num_feature=len(field_index),
                   num_field=len(field_dict), field_index=field_index)
    
    optimizer = tf.keras.optimizers.SGD(learning_rate=0.01)
    
    print("Start Training: Batch Size: {}, Embedding Size: {}".format(config.BATCH_SIZE, config.EMBEDDING_SIZE))
    
    start = perf_counter()
    for i in range(epochs):
        acc = BinaryAccuracy(threshold=0.5)
        auc = AUC()
        loss_history = []

        for x, y in train_ds:
            loss = train_on_batch(model, optimizer, acc, auc, x, y)
            loss_history.append(loss)

        print("Epoch {:03d}: 누적 Loss: {:.4f}, Acc: {:.4f}, AUC: {:.4f}".format(
            i, np.mean(loss_history), acc.result().numpy(), auc.result().numpy()))

    test_acc = BinaryAccuracy(threshold=0.5)
    test_auc = AUC()
    for x, y in test_ds:
        y_pred = model(x)
        test_acc.update_state(y, y_pred)
        test_auc.update_state(y, y_pred)
        
    print("테스트 ACC: {:.4f}, AUC: {:.4f}".format(test_acc.result().numpy(), test_auc.result().numpy()))
    print("Batch Size: {}, Embedding Size: {}".format(config.BATCH_SIZE, config.EMBEDDING_SIZE))
    print("걸린 시간: {:.3f}".format(perf_counter() - start))
    model.save_weights('./weights/weights-epoch({})-batch({})-embedding({}).h5'.format(
        epochs, config.BATCH_SIZE, config.EMBEDDING_SIZE))


if __name__ == '__main__':
    train(epochs=100)

Data Prepared...
X shape: (32561, 108)
# of Feature: 108
# of Field: 14
Start Training: Batch Size: 256, Embedding Size: 10
Epoch 000: 누적 Loss: 0.7733, Acc: 0.5849, AUC: 0.5029
Epoch 001: 누적 Loss: 0.5728, Acc: 0.7594, AUC: 0.4190
Epoch 002: 누적 Loss: 0.5680, Acc: 0.7594, AUC: 0.4249
Epoch 003: 누적 Loss: 0.5645, Acc: 0.7595, AUC: 0.4310
Epoch 004: 누적 Loss: 0.5615, Acc: 0.7594, AUC: 0.4389
Epoch 005: 누적 Loss: 0.5592, Acc: 0.7593, AUC: 0.4473
Epoch 006: 누적 Loss: 0.5571, Acc: 0.7593, AUC: 0.4582
Epoch 007: 누적 Loss: 0.5549, Acc: 0.7594, AUC: 0.4766
Epoch 008: 누적 Loss: 0.5530, Acc: 0.7594, AUC: 0.5051
Epoch 009: 누적 Loss: 0.5513, Acc: 0.7593, AUC: 0.5494
Epoch 010: 누적 Loss: 0.5492, Acc: 0.7595, AUC: 0.6402
Epoch 011: 누적 Loss: 0.5468, Acc: 0.7595, AUC: 0.7277
Epoch 012: 누적 Loss: 0.5440, Acc: 0.7594, AUC: 0.8126
Epoch 013: 누적 Loss: 0.5399, Acc: 0.7594, AUC: 0.8426
Epoch 014: 누적 Loss: 0.5343, Acc: 0.7594, AUC: 0.8389
Epoch 015: 누적 Loss: 0.5270, Acc: 0.7594, AUC: 0.8489
Epoch 016: 누적 Loss: 0.5175, Acc: 0.7592, AUC: 0.8440
Epoch 017: 누적 Loss: 0.5053, Acc: 0.7599, AUC: 0.8478
Epoch 018: 누적 Loss: 0.4902, Acc: 0.7626, AUC: 0.8516
Epoch 019: 누적 Loss: 0.4724, Acc: 0.7683, AUC: 0.8577
Epoch 020: 누적 Loss: 0.4518, Acc: 0.7776, AUC: 0.8655
Epoch 021: 누적 Loss: 0.4306, Acc: 0.7905, AUC: 0.8722
Epoch 022: 누적 Loss: 0.4109, Acc: 0.8019, AUC: 0.8760
Epoch 023: 누적 Loss: 0.3943, Acc: 0.8125, AUC: 0.8785
Epoch 024: 누적 Loss: 0.3822, Acc: 0.8195, AUC: 0.8794
Epoch 025: 누적 Loss: 0.3737, Acc: 0.8236, AUC: 0.8802
Epoch 026: 누적 Loss: 0.3679, Acc: 0.8261, AUC: 0.8808
Epoch 027: 누적 Loss: 0.3643, Acc: 0.8279, AUC: 0.8812
Epoch 028: 누적 Loss: 0.3620, Acc: 0.8284, AUC: 0.8816
Epoch 029: 누적 Loss: 0.3598, Acc: 0.8295, AUC: 0.8823
Epoch 030: 누적 Loss: 0.3585, Acc: 0.8308, AUC: 0.8828
Epoch 031: 누적 Loss: 0.3578, Acc: 0.8298, AUC: 0.8829
Epoch 032: 누적 Loss: 0.3564, Acc: 0.8316, AUC: 0.8838
Epoch 033: 누적 Loss: 0.3560, Acc: 0.8312, AUC: 0.8838
Epoch 034: 누적 Loss: 0.3549, Acc: 0.8321, AUC: 0.8847
Epoch 035: 누적 Loss: 0.3539, Acc: 0.8323, AUC: 0.8854
Epoch 036: 누적 Loss: 0.3534, Acc: 0.8330, AUC: 0.8854
Epoch 037: 누적 Loss: 0.3528, Acc: 0.8319, AUC: 0.8859
Epoch 038: 누적 Loss: 0.3518, Acc: 0.8344, AUC: 0.8867
Epoch 039: 누적 Loss: 0.3507, Acc: 0.8339, AUC: 0.8872
Epoch 040: 누적 Loss: 0.3509, Acc: 0.8345, AUC: 0.8871
Epoch 041: 누적 Loss: 0.3502, Acc: 0.8354, AUC: 0.8876
Epoch 042: 누적 Loss: 0.3498, Acc: 0.8341, AUC: 0.8878
Epoch 043: 누적 Loss: 0.3486, Acc: 0.8346, AUC: 0.8886
Epoch 044: 누적 Loss: 0.3486, Acc: 0.8350, AUC: 0.8887
Epoch 045: 누적 Loss: 0.3479, Acc: 0.8355, AUC: 0.8890
Epoch 046: 누적 Loss: 0.3474, Acc: 0.8355, AUC: 0.8896
Epoch 047: 누적 Loss: 0.3470, Acc: 0.8362, AUC: 0.8895
Epoch 048: 누적 Loss: 0.3459, Acc: 0.8355, AUC: 0.8903
Epoch 049: 누적 Loss: 0.3457, Acc: 0.8368, AUC: 0.8907
Epoch 050: 누적 Loss: 0.3450, Acc: 0.8376, AUC: 0.8910
Epoch 051: 누적 Loss: 0.3450, Acc: 0.8368, AUC: 0.8909
Epoch 052: 누적 Loss: 0.3442, Acc: 0.8369, AUC: 0.8915
Epoch 053: 누적 Loss: 0.3442, Acc: 0.8381, AUC: 0.8917
Epoch 054: 누적 Loss: 0.3426, Acc: 0.8387, AUC: 0.8926
Epoch 055: 누적 Loss: 0.3426, Acc: 0.8384, AUC: 0.8926
Epoch 056: 누적 Loss: 0.3422, Acc: 0.8381, AUC: 0.8931
Epoch 057: 누적 Loss: 0.3422, Acc: 0.8384, AUC: 0.8929
Epoch 058: 누적 Loss: 0.3412, Acc: 0.8390, AUC: 0.8935
Epoch 059: 누적 Loss: 0.3408, Acc: 0.8391, AUC: 0.8938
Epoch 060: 누적 Loss: 0.3402, Acc: 0.8385, AUC: 0.8941
Epoch 061: 누적 Loss: 0.3394, Acc: 0.8397, AUC: 0.8947
Epoch 062: 누적 Loss: 0.3390, Acc: 0.8401, AUC: 0.8951
Epoch 063: 누적 Loss: 0.3385, Acc: 0.8405, AUC: 0.8952
Epoch 064: 누적 Loss: 0.3383, Acc: 0.8401, AUC: 0.8956
Epoch 065: 누적 Loss: 0.3379, Acc: 0.8398, AUC: 0.8960
Epoch 066: 누적 Loss: 0.3371, Acc: 0.8410, AUC: 0.8961
Epoch 067: 누적 Loss: 0.3371, Acc: 0.8408, AUC: 0.8962
Epoch 068: 누적 Loss: 0.3365, Acc: 0.8419, AUC: 0.8965
Epoch 069: 누적 Loss: 0.3355, Acc: 0.8416, AUC: 0.8972
Epoch 070: 누적 Loss: 0.3354, Acc: 0.8421, AUC: 0.8974
Epoch 071: 누적 Loss: 0.3350, Acc: 0.8423, AUC: 0.8976
Epoch 072: 누적 Loss: 0.3346, Acc: 0.8423, AUC: 0.8978
Epoch 073: 누적 Loss: 0.3343, Acc: 0.8423, AUC: 0.8980
Epoch 074: 누적 Loss: 0.3337, Acc: 0.8426, AUC: 0.8984
Epoch 075: 누적 Loss: 0.3334, Acc: 0.8427, AUC: 0.8987
Epoch 076: 누적 Loss: 0.3329, Acc: 0.8432, AUC: 0.8989
Epoch 077: 누적 Loss: 0.3329, Acc: 0.8434, AUC: 0.8989
Epoch 078: 누적 Loss: 0.3328, Acc: 0.8431, AUC: 0.8990
Epoch 079: 누적 Loss: 0.3321, Acc: 0.8428, AUC: 0.8994
Epoch 080: 누적 Loss: 0.3316, Acc: 0.8437, AUC: 0.8996
Epoch 081: 누적 Loss: 0.3310, Acc: 0.8449, AUC: 0.9001
Epoch 082: 누적 Loss: 0.3309, Acc: 0.8439, AUC: 0.9001
Epoch 083: 누적 Loss: 0.3310, Acc: 0.8458, AUC: 0.9000
Epoch 084: 누적 Loss: 0.3298, Acc: 0.8453, AUC: 0.9008
Epoch 085: 누적 Loss: 0.3301, Acc: 0.8457, AUC: 0.9006
Epoch 086: 누적 Loss: 0.3298, Acc: 0.8453, AUC: 0.9008
Epoch 087: 누적 Loss: 0.3297, Acc: 0.8461, AUC: 0.9006
Epoch 088: 누적 Loss: 0.3291, Acc: 0.8459, AUC: 0.9012
Epoch 089: 누적 Loss: 0.3296, Acc: 0.8456, AUC: 0.9008
Epoch 090: 누적 Loss: 0.3283, Acc: 0.8465, AUC: 0.9016
Epoch 091: 누적 Loss: 0.3285, Acc: 0.8458, AUC: 0.9016
Epoch 092: 누적 Loss: 0.3279, Acc: 0.8464, AUC: 0.9019
Epoch 093: 누적 Loss: 0.3284, Acc: 0.8458, AUC: 0.9016
Epoch 094: 누적 Loss: 0.3273, Acc: 0.8467, AUC: 0.9021
Epoch 095: 누적 Loss: 0.3277, Acc: 0.8469, AUC: 0.9021
Epoch 096: 누적 Loss: 0.3274, Acc: 0.8466, AUC: 0.9020
Epoch 097: 누적 Loss: 0.3272, Acc: 0.8476, AUC: 0.9023
Epoch 098: 누적 Loss: 0.3268, Acc: 0.8470, AUC: 0.9025
Epoch 099: 누적 Loss: 0.3263, Acc: 0.8464, AUC: 0.9027
테스트 ACC: 0.8360, AUC: 0.9007
Batch Size: 256, Embedding Size: 10
걸린 시간: 173.037

OSError: Unable to create file (unable to open file: name = 'weights/weights-epoch(100)-batch(256)-embedding(10).h5', errno = 2, error message = 'No such file or directory', flags = 13, o_flags = 242)

In [6]:
file = pd.read_csv('../../data/adult.data', header=None)

In [9]:
B = pd.DataFrame()

In [12]:
B.columns = config.ALL_FIELDS

ValueError: Length mismatch: Expected axis has 0 elements, new values have 14 elements

In [7]:
X = file.loc[:, 0:13]
Y = file.loc[:, 14].map({' <=50K': 0, ' >50K': 1})
X.columns = config.ALL_FIELDS

In [8]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [4]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [5]:
field_dict, field_index, X_modified = get_modified_data(X,
                                                       config.ALL_FIELDS,
                                                       config.CONT_FIELDS,
                                                       config.CAT_FIELDS,
                                                       False)

Data Prepared...
X shape: (32561, 108)
# of Feature: 108
# of Field: 14

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X_modified, Y, test_size=0.2)
train_ds = tf.data.Dataset.from_tensor_slices(
    (tf.cast(X_train.values, tf.float32),
     tf.cast(Y_train, tf.float32))).shuffle(30000).batch(config.BATCH_SIZE)

test_ds = tf.data.Dataset.from_tensor_slices(
    (tf.cast(X_test.values, tf.float32), 
     tf.cast(Y_test, tf.float32))).shuffle(10000).batch(config.BATCH_SIZE)

In [7]:
X_modified

,age,workclass- ?,workclass- Federal-gov,workclass- Local-gov,workclass- Never-worked,workclass- Private,workclass- Self-emp-inc,workclass- Self-emp-not-inc,workclass- State-gov,workclass- Without-pay,...,country- Portugal,country- Puerto-Rico,country- Scotland,country- South,country- Taiwan,country- Thailand,country- Trinadad&Tobago,country- United-States,country- Vietnam,country- Yugoslavia
0,0.301370,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,0.315068,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,0.561644,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,0.068493,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,0.479452,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
from sklearn.datasets import load_breast_cancer

In [8]:
cancer = load_breast_cancer()

In [4]:
file

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K